{% extends 'base.jinja2' %}


{% block title%}{{ product.name }}{% endblock %}

{% block content %}
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">MEGANO PRODUCT</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Product</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                <img src="{{ product.image.url }}" alt="product image"/>
              </div>
              <div class="ProductCard-picts"><a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ product.image.url }}"><img src="{{ product.image.url }}" alt="bigGoods.png"/></a><a class="ProductCard-pict" href="/img/content/home/slider.png"><img src="img/content/home/slider.png" alt="slider.png"/></a><a class="ProductCard-pict" href="img/content/home/videoca.png"><img src="img/content/home/videoca.png" alt="videoca.png"/></a>
              </div>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title">{{ product.name }}
                </h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    <div class="ProductCard-price">{{ product.price }}$
                    </div>
                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod
                  </li>
                  <li>tempor incididunt ut labore et dolore magna aliqua. Lorem
                  </li>
                  <li>ipsum dolor sit ameabore et dolore magna aliqua. Lorem ipsum
                  </li>
                </ul>
              </div>
{#                {% cart_add product.id %}#}
              <form class="ProductCard-cart" action="{{ url('cart_add')}}" method="post">{% csrf_token %}
                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                  <div class="Amount Amount_product">
                    <button class="Amount-remove" type="button">
                    </button>
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <input class="Amount-input form-input" name="quantity" type="text" value="1">
                    <button class="Amount-add" type="button"></button>
                  </div>
                </div>
                <div class="ProductCard-cartElement"><button class="btn btn_primary" type="submit"><img class="btn-icon" src="{{ static('img/icons/card/cart_white.svg')}}" alt="cart_white.svg"/><span class="btn-content">Add To Cart</span></button>
                </div>
              </form>
              <div class="ProductCard-footer">
                <div class="ProductCard-tags">
                  <strong class="ProductCard-tagsTitle">Tags:
                  </strong><a href="#">Accesories</a>,<a href="#">Creative</a>,<a href="#">Design</a>,<a href="#">Gaming</a>
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links"><a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>Description</span></a><a class="Tabs-link" href="#addit"><span>AdditionaL Info</span></a><a class="Tabs-link" href="#reviews"><span>Reviews ({{ reviews|count }})</span></a>
            </div>
            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description">
                <h2>Megano Store Hystory
                </h2>
                <p>
                    {{ product.description }}
                </p>
                  <img class="pict pict_right" src="{{ product.image.url }}" alt="bigGoods.png"/>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetuer
                  </li>
                  <li>adipiscing elit doli.&#32;<em>Aenean</em>&#32;commodo ligula
                  </li>
                  <li>eget dolor. Aenean massa. Cumtipsu sociis
                  </li>
                  <li>natoque penatibus et magnis dis parturient
                  </li>
                  <li>montesti, nascetur ridiculus mus. Donec
                  </li>
                  <li>quam felis, ultricies nec, pellentesque eutu
                  </li>
                </ul>
                <div class="clearfix">
                </div>
                <div class="table">
                  <table>
                    <tr>
                      <th>Tech Specs
                      </th>
                      <th>Value
                      </th>
                    </tr>
                    <tr>
                      <td>ываыв
                      </td>
                      <td>llslssl
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="Tabs-block" id="sellers">
                <div class="Categories Categories_product">
                </div>
              </div>
              <div class="Tabs-block" id="addit">
                <div class="Product-props">
                  <div class="Product-prop">
                    <strong>Lorem
                    </strong><span> Pfizer</span>
                  </div>
                  <div class="Product-prop">
                    <strong>ipsum
                    </strong><span> Lorem ipsum dolor sit</span>
                  </div>
                  <div class="Product-prop">
                    <strong>dolor sit
                    </strong><span> 5 ans</span>
                  </div>
                  <div class="Product-prop">
                    <strong>psum dolo
                    </strong><span> 2–3 jours</span>
                  </div>
                </div>
              </div>

                {% include "app_goods/reviews.jinja2" ignore missing %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}