html {
  font-family: Roboto, Verdana, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif;
}


body {
  min-height: 100%;
  font-size: 16px;
  color: #424650;
  line-height: 1.3em;
  text-align: left;
  position: relative;
  min-width: 320px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-size: 16px;
  color: #424650;
  line-height: 1.3em;
  text-align: left;
}

.Header {
  position: relative;
  width: 100%;
}

.ControlPanel {
  visibility: visible;
  width: 100%;
  background: #f5f5f5;
  padding-top: 7px;
  padding-bottom: 16px;
  padding-left: 13px;
  margin-bottom: 19px;
}

.wrap {
  padding: 0 15px;
  max-width: 1630px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.ControlPanel-rowSplit {
  justify-content: flex-start;
  align-items: center;
}

.ControlPanel {
  visibility: visible;
}

.ControlPanel-row {
  justify-content: space-between;
}

.ControlPanel-row {
  align-items: stretch;
  justify-content: flex-end;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
}

.row:after {
  clear: both;
  }

.row:before, .row:after {
  content: "";
  display: table;
  }

.ControlPanel-row .row-block {
  width: auto;
}

.ControlPanel-rowSplit {
  justify-content: flex-start;
  align-items: center;
}

.ControlPanel-title {
  color: #777;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  vertical-align: middle;
}

.ControlPanel-rowSplit .row-block + .row-block {
  border-left: #d7d7d7 solid 1px;
  margin-left: 23px;
  padding-left: 24px;
}

.ControlPanel-rowSplit .row-block {
  width: auto;
  display: flex;
  align-items: center;
}

.ControlPanel-title {
  color: #777;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  vertical-align: middle;
}

.ControlPanel-menu {
  vertical-align: middle;
  margin-left: 15px;
}

.menu_smallImg {
  margin-top: 0;
  width: auto;
  display: inline-flex;
}

.menu_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: relative;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.menu:before, .menu:after {
  content: "";
  display: table;
}

.menu_smallImg .menu-item {
  width: 16px;
  height: 16px;
}

.menu_img .menu-item {
  width: 60px;
  height: 60px;
  display: block;
  font-size: 0;
  padding: 0;
  margin-bottom: 0;
  line-height: 0;
  letter-spacing: 0;
}

.menu ul, .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_smallImg .menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_smallImg .menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_img .menu-item a {
  padding: 0;
  display: block;
}

.menu_img .menu-link {
  background: no-repeat center center;
  background-size: 100%;
  display: block;
  width: 100%;
  height: 100%;
}

.ControlPanel-row > .row-block + .row-block {
  margin-left: 20px;
}

.ControlPanel-row .row-block {
  width: auto;
}

.ControlPanel-row .row-block:last-child .ControlPanel-rowSplit {
  justify-content: flex-end;
}

.ControlPanel-rowSplit .row-block {
  width: auto;
  display: flex;
  align-items: center;
}

.ControlPanel-title {
  color: #777;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  vertical-align: middle;
}

/* menu */

.Header-rowMain {
  flex-wrap: wrap;
}

.Header-rowMain {
  align-items: center;
}

.Header-logo {
  flex-shrink: 4;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-bottom: 5px;
}

.Header-logo a {
  border: none !important;
}

.logo {
  line-height: 0;
  display: inline-block;
}

.logo-image {
  visibility: visible;
}

.Header-menu {
  order: 10;
  width: 100% !important;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-menu {
margin-right: 13px;
}

.Header-menu .menu {
  width: 100%;
  justify-content: space-between;
}

.menu_main {
  display: flex;
  align-items: center;
}

.menu {
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.menu_main .menu-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.menu_main .menu-item {
  float: left;
  text-align: center;
  padding-right: 5px;
  margin-bottom: 0;
}

.menu ul, .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_main .menu-link {
  color: #333;
  text-transform: uppercase;
  font-family: Roboto, Verdana, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  letter-spacing: 1.4px;
}

.Header-rowMain .row-block {
  width: auto;
}

.row-block_right + .row-block {
  width: auto;
}

.row-block + .row-block {
  margin-left: 2rem;
}

.row-block {
  display: block;
  flex-grow: 0;
  width: 100%;
}

.CartBlock {
  display: flex;
  align-items: center;
}

.CartBlock-amount {
  background: #0063d1;
  position: absolute;
  right: -14px;
  top: 0;
  min-width: 23px;
  font-size: 12px;
  letter-spacing: -0.6px;
  color: #fff;
  padding: 2px;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  border-radius: 100px;
}


.CartBlock-block + .CartBlock-block {
  margin-left: 23px;
}

.CartBlock-block {
  position: relative;
  display: flex;
  align-items: center;
}

.CartBlock-price {
  font-size: 13px;
  color: #777;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  display: block;
}

.menuTrigger {
  background: none;
  border: none !important;
  box-shadow: none;
  text-indent: -9999px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-width: 0;
  margin-right: 0 !important;
  min-height: 0;
  z-index: 1000;
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  padding-top: 4px;
  position: relative;
}

.menuTrigger {
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}

/* footer */

.Footer {
  margin-top: 43px;
  padding: 0;
  width: 100%;
  color: #86878a;
  background: #1f2126;
}

.wrap {
  padding: 0 15px;
  max-width: 1630px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.Footer {
  color: #86878a;
}

.Footer-main {
  padding-top: 34px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  line-height: 1.8em;
  font-size: 14px;
}

.Footer-main:before, .Footer-main:after {
  display: none;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.Footer-main:before, .Footer-main:after {
  display: none;
}

.row:after {
  clear: both;
}

.Footer-logo {
  margin-bottom: 30px;
}

.logo {
  border: none !important;
  line-height: 0;
  display: inline-block;
}

.logo-image {
  visibility: visible;
}

p {
  margin: 0;
  margin-bottom: 20px;
}

.Footer-main .menu_img {
  margin-top: 0;
}

.menu_smallImg {
  width: auto;
  display: inline-flex;
}

.menu_img {
  justify-content: center;
  align-items: center;
}

.menu:before, .menu:after {
  content: "";
  display: table;
}

.menu_smallImg .menu-item {
  width: 16px;
  height: 16px;
}

.menu_smallImg .menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_img .menu-item a {
  padding: 0;
}

.menu_img .menu-link {
  background: no-repeat center center;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.menu_smallImg .menu-item a img {
  transform: scale(1);
}

.Footer-main .row-block + .row-block {
  margin-left: 20px;
}

.Footer-main .row-block {
  width: auto;
  min-width: 150px;
  max-width: 400px;
}

.Footer-main .menu {
  margin-top: 21px;
}


.Footer-menu {
  margin-left: 0;
  padding-left: 0;
}

.menu_vt .menu-item {
  display: block;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2em;
}

.Footer-title {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  display: block;
  margin-top: 14px;
  margin-bottom: 18px;
}

p:last-child {
  margin-bottom: 0;
}

.Footer-copy {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  background-color: #191b1f;
  padding-top: 25px;
  padding-bottom: 25px;
}

.wrap {
  padding: 0 15px;
  max-width: 1630px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.row_space .row-block {
  width: auto;
}

.row-block {
  display: block;
  flex-grow: 0;
  width: 100%;
}


.Footer-copy a {
  color: #fff;
}

.Footer-copy span {
  vertical-align: middle;
}

.Footer-payments {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 30px;
}

.Footer-main .menu {
  margin-top: 21px;
}

.Footer-menu {
  margin-left: 0;
  padding-left: 0;
}

.menu_vt {
  visibility: visible;
}


.menu {
  width: 100%;
  position: relative;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  display: block;
  font-weight: bold;
}