{% for item in products %}
    {% if item.cart==order.cart %}
    <div class="Cart Cart_order">
    <div class="Cart-product">
        <div class="Cart-block Cart-block_row">
            {% if item.product.image %}
                <div class="Cart-block Cart-block_pict">
                    <a class="Cart-title" href="{{ url('product', slug=item.product.slug) }}">
                    <img class="Cart-img" src="{{ item.product.image.url }}" alt="product-image.png"/>>
                    </a>
                </div>
            {% endif %}
            <div class="Cart-block Cart-block_info">
                <a class="Cart-title" href="{{ url('product', slug=item.product.slug) }}">
                    {{ item.product.name }}
                </a>
                <div class="Cart-desc">
                        {{ item.product.description|truncatechars(300) }}
                </div>
                </div>
                <div class="Cart-block Cart-block_price">
                    <div class="Cart-price">
                        {{ item.product.price }}$
                    </div>
                </div>
            </div>
            <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_amount">

                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

<div class="Cart-total">
    <div class="Cart-block Cart-block_total">
        <strong class="Cart-title">
            Итого:
            <span class="Cart-price">
            {{ order.total_price|round(2, 'common') }}$
            </span>
        </strong>
    </div>
    {% if order.status=='not paid' %}
        <div class="Cart-block">
            <a class="btn btn_primary btn_lg" href="#">
                Оплатить
            </a>
        </div>
    {% elif order.status=='created' %}
        <div class="Cart-block">
            <a class="btn btn_primary btn_lg" href="#">
                Оплатить
            </a>
        </div>
    {% else %}
        <div class="Cart-block">
                Оплачен
        </div>
    {% endif %}
</div>
</div>

