{% for item in order.product.all() %}
    <div class="Cart Cart_order">
    <div class="Cart-product">
        <div class="Cart-block Cart-block_row">
            {% if item.image %}
                <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#">
                    <img class="Cart-img" src="{{ item.image.url }}" alt="product-image.png"/>></a>
                </div>
            {% endif %}
            <div class="Cart-block Cart-block_info">
                <a class="Cart-title" href="#">
                    {{ item.name }}
                </a>
                <div class="Cart-desc">
                    {{ item.description }}
                </div>
                </div>
                <div class="Cart-block Cart-block_price">
                    <div class="Cart-price">
                        {{ item.price }}
                    </div>
                </div>
            </div>
            <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_amount">
                    {{ order.product.filter(id=item.id).count() }} шт.
                </div>
            </div>
        </div>
{% endfor %}

<div class="Cart-total">
    <div class="Cart-block Cart-block_total">
        <strong class="Cart-title">
            Итого:
            <span class="Cart-price">

            </span>
        </strong>
    </div>
    <div class="Cart-block">
        <a class="btn btn_primary btn_lg" href="#">
            Оплатить
        </a>
    </div>
</div>
</div>
