<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title }}
    </title>
    <meta name="description" content="Описание страницы">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="{{ static('favicon.ico')}}">
    <link rel="preload" href="{{ static('fonts/Roboto/Roboto-Regular.woff')}}" as="font">
    <link rel="preload" href="{{ static('fonts/Roboto/Roboto-Italic.woff')}}" as="font">
    <link rel="preload" href="{{ static('fonts/Roboto/Roboto-Bold.woff')}}" as="font">
    <link rel="preload" href="{{ static('fonts/Roboto/Roboto-Bold_Italic.woff')}}" as="font">
    <link rel="preload" href="{{ static('fonts/Roboto/Roboto-Light.woff')}}" as="font">
    <link rel="preload" href="{{ static('fonts/Roboto/Roboto-Light_Italic.woff')}}" as="font">
    <link rel="stylesheet" href="{{ static('css/fonts.css')}}">
    <link rel="stylesheet" href="{{ static('css/basic.css')}}">
    <link rel="stylesheet" href="{{ static('css/extra.css')}}">
    <script src="{{ static('plg/CountDown/countdown.js')}}"></script>

</head>
<body>
    {% include "header.jinja2" ignore missing %}

    {% block content %}
        <p>Здесь будет отображаться контент</p>
    {% endblock %}

    {% include "footer.jinja2" ignore missing%}
</body>
</html>
